body {
    margin-left: 8vw;
}

form p {
    margin-top: 5vh;
}

form div {
    font-weight: bold;
    font-size: large;
    margin-bottom: 1vh;
}

.hidden {
    display: none
}

#hurra {
    background-color: green;
    color: white;
    width: 100vh;
}

#sorry {
    background-color: red;
    color: white;
    width: 100vh;
}

#answer {
    background-color: rgb(242, 219, 126);
    width: 100vh;
}

#newRandom {
    background-color: rgb(124, 215, 206);
}

#reveal {
    background-color: rgb(210, 143, 165);
}

#unix-time {
    font-weight: bold;
    color: rgb(101, 5, 101);
}

#realyDifficult {
    color: red;
}

#difficult {
    color: orange;
}

#easy {
    color: green;
}

#reset {
    background-color: rgb(183, 181, 181);
}